.nav_box {
    display: block;
    justify-items: center;
}

.nav_option {
    padding-left: 11vw;
    padding-right: 11vw;
    color: navy;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border: 1px solid navy;
    background-color: gold;
}

h1 {
    text-align: center;
}

.welcome_paragraph {
    text-align: center;
}

#sliderImage{
    display: block;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.button_box{
    display: flex;
    justify-content: center;
}
/* body {
    background: lightgray;
}

div {
    border-bottom: solid gray 2px;
    height: 40px;
    margin: 10px;
}

.hobbies {
    display: inline-block;
    width: 32vw;
    margin: 0px;
    height: auto;
    text-align: center;
    border: solid black 1px;
    background-color: white;
}

#my-photo {
    text-transform: capitalize;
    font-style: italic;
    font-weight: 100;
}

h1{
    text-align: center;
}

img {
    width: 90vw;
    display: block;
    margin: auto;
}

#footer_container{
    border: 0px;
}

footer{
    position: sticky;
    bottom: 0px;
} */