.nav_box {
    display: block;
    justify-items: center;
}

.nav_option {
    padding-left: 11vw;
    padding-right: 11vw;
    color: navy;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    border: 1px solid navy;
    background-color: gold;
}

.profile_img {
    width: auto;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.img_caption {
    font-style: italic;
    font-size: smaller;
    margin: 0;
    text-align: center;
}

.contact_paragraph{
    margin: 0;
}