.nav_box {
    display: block;
    justify-items: center;
}

.nav_option {
    padding-left: 11vw;
    padding-right: 11vw;
    color: navy;
    text-decoration: none;
}

.nav_options {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav_option {
    border: 1px solid navy;
    background-color: gold;
}

.project_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.proj_box {
    background-color: lightgray;
    margin-bottom: 20px;
}

.proj_name{
    font-weight: bold;
    margin: 0;
}

.proj_desc{
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.proj_skills {
    text-indent: 15px;
    font-style: italic;
    margin: 0;
}
